{
  "colorScheme": "light",
  "enableTelemetry": false,
  "gcp": {
    "project": "{{ .secrets.google_cloud_project }}",
    "location": "{{ .secrets.google_cloud_location }}"
  },
  "model": "gemini-3.5-flash-medium",
  "trustedWorkspaces": [
    "/home/shanemcd/github/shanemcd/halp",
    "/home/shanemcd/github/ansible/aap-dev",
    "/home/shanemcd/github/shanemcd/gameplan"
  ]
}
