{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "tot") -}}
KWIN_DRM_DEVICES={{ output "bash" "-c" "readlink -f /dev/dri/by-path/pci-0000:01:00.0-card" | trim }}:{{ output "bash" "-c" "readlink -f /dev/dri/by-path/pci-0000:00:02.0-card" | trim }}
LIBVA_DRIVER_NAME=nvidia
{{- end -}}
